main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  padding: 24px;
}

img {
  width: 500px;
  height: 500px;
  image-rendering: pixelated;
}

img.hidden {
  filter: brightness(0);
}

form {
  display: flex;
}
